$white: #fff;
$black: #000;
$blue: rgb(67, 124, 189);
$red: rgb(255, 41, 41);

$defaultFontFamily: "Helvetica", "Arial", sans-serif;
$defaultFontSize: 14px;
$defaultBackgroundColor: $white;
$defaultTextColor: $black;
$defaultLineHeight: 1.2;
$borderRadiusSmall: 3px;
