/* stylelint-disable */
@import "../../../../../idea-site/webapp/src/styles/vars";
@import "../../../../../idea-site/webapp/src/styles/mixins";
/* stylelint-enable */

.title {
  @include h1;
  margin-bottom: 2px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
}

.text {
  font-size: 14px;

  & > *:not(:first-child) {
    margin-top: 10px;
  }
}
